<!-- <div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="modal__poster-wrap">
      <img src="https://image.tmdb.org/t/p/w500/uO2yU3QiGHvVp0L5e5IatTVRkYk.jpg" alt="film-poster">
      <button class="btn btn__trailer btn__tablet" type="submit">View trailer</button>
    </div>
    <div>
      <h2 class="modal__title">Film Name</h2>
      <div class="modal__table">
        <table class="modal__film-info">
          <tbody>
            <tr>
              <td class="modal__film-prop">Vote / Votes</td>
            </tr>
            <tr>
              <td class="modal__film-prop">Popularity</td>
            </tr>
            <tr>
              <td class="modal__film-prop">Original Title</td>
            </tr>
            <tr>
              <td class="modal__film-prop">Genre</td>
            </tr>
          </tbody>
        </table>
        <table class="modal__film-info">
          <tbody>
            <tr>
              <td class="modal__film-data"><span class="modal__film-vote">7.3</span> / 1260</td>
            </tr>
            <tr>
              <td class="modal__film-data">100.2</td>
            </tr>
            <tr>
              <td class="modal__film-data"><span class="modal__film-name">Film Name</span></td>
            </tr>
            <tr>
              <td class="modal__film-data">Western</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal__film-about">
        <h3>About</h3>
        <p>Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt
          settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with
          bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who
          themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they
          realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?</p>
      </div>

      <div class="btn__wrap">
        <button class="btn btn__add" type="submit">Add to watched</button>
        <button class="btn btn__add" type="submit">Add to queue</button>
      </div>
      <button class="btn btn__trailer  btn__mob-desk" type="submit">View trailer</button>
    </div>

    <button class="modal__close" type="submit">
      <svg width="30" height="30">
        <use href="./img/sprite.svg#modal-close"></use>
      </svg>
    </button>
  </div>
</div> -->